  <!--<div class="grid">
    <div class="row">
      <div class="cell">
        <div data-role="appbar">
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="cell-sm-2">
        <ul class="v-menu border bd-light" 
            data-role="ripple" 
            data-ripple-target="li"
            data-ripple-color="#7070db"
            data-ripple-alpha=".2">
          <li class="menu-title">Game</li>
          <li><a href="#" class="game-title"><span class="mif-language icon"></span> Lexica</a></li>
          <li class="menu-title">Chess Related Problems</li>
          <li><a href="#" class="game-title"><span class="mif-dice icon"></span> Chess Walk</a></li>
        </ul>
      </div>
      <div class="cell-sm-10">
        <div class="tiles-grid">
          <div data-role="tile" data-size="wide" class="bg-green">
            <span class="mif-language icon"></span>
            <span class="branding-bar">Lexica</span>
          </div>
          <div data-role="tile" data-size="wide" class="bg-cyan">
            <span class="mif-dice icon"></span>
            <span class="branding-bar">Chess Walk</span>
          </div>
        </div>
      </div>
    </div>
  </div>-->
<div class="p-3"
      data-role="window"
      data-resizable="false"
      data-icon="<span class='mif-bug'><span>"
      data-btn-close="false"
      data-btn-min="false"
      data-btn-max="false"
      data-title="Games Explained"
      data-cls-caption="bg-cyan"
      data-cls-content="bg-dark"
      data-width="100%"
      data-height="100%">
</div>